<div class="
        beon-interaction
        beon-notificacao
        beon-notificacao__basica
        {{#if element.template.params.icon}}beon-notificacao--with-figure{{/if}}
        {{#if element.template.params.cta_link}}beon-notificacao--with-cta{{/if}}
        {{#if element.template.params.background_color}}beon-notificacao--with-bg{{/if}}
        beon-notificacao--{{element.template.params.layout}}
        beon-notificacao--{{element.template.params.screen_position}} beon-notificacao--with-delta
        {{#ifcond element.template.params.clock_show 'eq' 'sim'}}bn--with-clock{{/ifcond}}
        beon-wrapper
        {{element.template.params.container_class}}"
    data-config='{"auto_dismiss": {{element.template.params.auto_dismiss}}, "allow_dismiss": {{element.template.params.allow_dismiss}}, "dismiss_style": "{{element.template.params.dismiss_style}}", "dismiss_label": "{{element.template.params.dismiss_label}}", "a":1}'
    style="font-size:{{element.template.params.custom_notf_body_fz}};{{element.template.params.container_style}}"
    data-event-root='[null, "{{element.template.params.event_label}}", null]'>
    <div class="beon-notificacao__inner"
        style="background-color:{{element.template.params.custom_notf_body_bg}};color:{{element.template.params.custom_notf_body_fg}};font-size:{{element.template.params.custom_notf_body_fz}};">
        {{#if element.template.params.icon}} <div class="beon-notificacao__figure"> <i
                class="beon-icon--emoji">{{element.template.params.icon}}</i> </div> {{/if}} <div
            class="beon-notificacao__headline"
            style="color:{{element.template.params.custom_notf_body_fg}};font-size:{{element.template.params.custom_notf_headline_fz}};">
            <span>{{{element.template.params.headline}}}</span> </div>
        <div class="beon-notificacao__body"
            style="color:{{element.template.params.custom_notf_body_fg}};font-size:{{element.template.params.custom_notf_body_fz}};">
            <span>{{{element.template.params.message}}}</span> </div>
        {{#if element.template.params.cta_link}} <a class="beon-notificacao__cta"
            href="{{element.template.params.cta_link}}" data-track="click" data-event='["hit", null, null]'
            style="background-color:{{element.template.params.custom_notf_cta_bg}};color:{{element.template.params.custom_notf_cta_fg}};">
            <span class="beon-notificacao__cta-label">{{{element.template.params.cta_label}}}</span> </a> {{/if}}
    </div>

    {{#ifcond element.template.params.clock_show 'eq' 'sim'}}
    <div class="bn-banner__clock">
        <div class="beon-clock bn-clock--digital {{#if ../element.template.params.clock_with_labels}}bn-clock--with-labels{{/if}}"
            id="{{../element._id}}-clock" data-associate-id="beon-element-{{../element._id}}"
            data-config="{&quot;type&quot;:&quot;{{../element.template.params.clock_timer_type}}&quot;,&quot;interval&quot;:&quot;{{../element.template.params.clock_interval}}&quot;,&quot;start_date&quot;:&quot;{{../element.template.params.clock_start_datetime}}&quot;,&quot;end_date&quot;:&quot;{{../element.template.params.clock_end_datetime}}&quot;,&quot;hideOnEnd&quot;:{{../element.template.params.clock_hide_on_end}},&quot;aggregateDays&quot;:{{../element.template.params.clock_aggregate_days}}, &quot;trim&quot;: 1}"
            style="background-color:{{../element.template.params.custom_clock_bg}};color:{{../element.template.params.custom_clock_fg}};font-size:{{../element.template.params.custom_clock_fz}};">
            <div class="bn__container">
                <div class="bn-clock__component">
                    <div class="bn-clock__headline">{{../element.template.params.clock_headline}}</div>
                    <div class="bn-clock__frags">
                        <div class="bn-clock__frag bn-clock__frag-d">00</div>
                        <div class="bn-clock__frag bn-clock__frag-H">00</div>
                        <div class="bn-clock__frag bn-clock__frag-i">00</div>
                        <div class="bn-clock__frag bn-clock__frag-s">00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/ifcond}}

    <span class="beon-notificacao__delta" {{#if element.template.params.background_color}}
        style="background-color:{{element.template.params.background_color}}" {{/if}}></span>
</div>
